//btn
$BtnMainBgColor: white;
$BtnMainTextColor: #2EE59D;
$BtnColorShadow: rgba(0, 0, 0, 0.1);

$BtnActiveShadow: rgba(46, 229, 157, .4);
$BtnDisabledBgColor: rgba(203, 203, 203, 0.47);
$BtnDisabledTextColor: rgba(82, 79, 78, 0.48);

$BtnCancelBgColor: red;
$BtnCancelTextColor: #ff3c3c;
$BtnCancelColorShadow: rgba(229, 46, 46, 0.4);


$bgColorDark: #6d6d6d;