@import "./src/common/styles/variables";
@import "./src/common/styles/mixins";

.testPage {
  min-height: 100vh;

  &__buttons {

    .button_pink {
      background-color: #d550e3;
    }
  }

  &__checkbox {
    span {
      margin-right: 10px;
    }
  }

  &__input {
    .blue {
      border-bottom: 5px solid #BDBDBDFF;
    }

    .blue:focus, .blue:focus:hover {
      border-bottom: 5px solid $BtnMainTextColor;
    }

    .blue:hover {
      border-bottom: 5px solid $BtnActiveShadow;
    }
  }
}